.card-header-icon {
  display: flex;
  align-items: center;
}

.icon {
  cursor: pointer;
  margin-left: 10px;
}

.card-content {
  padding: 10px 15px;
}

.content p {
  font-size: 0.9rem;
}
.pay-btn {
  max-height: 2.5rem;
}
#bank-selector.dropdown,
#bank-selector.dropdown>.dropdown-trigger {
  width: 100% !important;
}
