$primary-palette: (
  50: #1e2a38,
  100: #293847,
  200: #344456,
  300: #3e5366,
  400: #496073,
  500: #547082,
  // Main primary color
  600: #607d91,
  700: #6d8ba1,
  800: #7998b0,
  900: #86a7c0,
  A100: #96c1e5,
  A200: #80b3e3,
  // Lighter accent color
  A400: #67a4e0,
  A700: #4f95de,
  contrast: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
