<div class="container">
  <div class="card-header is-justify-content-space-between is-align-items-center pb-5">
  <div class="is-size-2 has-text-centered is-capitalized has-text-weight-medium">Added Cards</div>
  <span class="icon has-text-primary add-card-btn">
    <i class="fa-solid fa-2x fa-square-plus" (click)="showAddCardModal()"></i>
  </span>
</div>

<!-- Add Card Form -->
<div *ngIf="addCardMode">
  <app-credit-card
    [card]="{ id: creditCards.length + 1, username: '', number: '', phoneNumber: 0, bank: '' }"
    [enableEditMode]="true"
    (save)="handleAddCard($event)"
    (onDelete)="cancelAddCard(); deleteCard($event)"
  >
  </app-credit-card>
</div>

<!-- Existing Cards -->
<div *ngFor="let card of getPaginatedCards(); trackBy: trackByCardId">
  <app-credit-card [card]="card" (save)="updateCard($event)" (onDelete)="deleteCard($event)"> </app-credit-card>
</div>

<!-- Pagination -->
<div class="pagination">
  <button class="button" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
  <button class="button" (click)="nextPage()" [disabled]="currentPage * pageSize >= creditCards.length">Next</button>
</div>

</div>