/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.container {
  min-width: 320px;
}
.card {
  max-width: 400px;
  min-width: 320px;
  min-height: 312px;
  //   margin: 20px auto; /* Centers the card and adds vertical spacing */
  //   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for better appearance */
  //   border-radius: 8px; /* Adds rounded corners */
}
